* {
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 300px;
    height: 210px;
    position: relative;
}

a {
    outline: none;
}

#api-key {
    width: 235px;
    font-size: 1.2em;
    border-radius: 2px;
    border-color: rgb(183, 183, 183);
    background-color: #f6f6f6;
    border-width: 2px;
    padding: 3px;
}

#nslogo {
    width: 200px;
    align-self: center;
}

.header {
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;

    background-color: rgba(17,145,168,1);
    background: -webkit-linear-gradient(left, rgba(17,145,168,1) , rgba(57,207,182,1));
    background: -o-linear-gradient(right, rgba(17,145,168,1), rgba(57,207,182,1));
    background: -moz-linear-gradient(right, rgba(17,145,168,1), rgba(57,207,182,1));
    background: linear-gradient(to right, rgba(17,145,168,1) , rgba(57,207,182,1));
}


#submitkey {
    margin-top: 20px;
    align-self: center;
    justify-content: center;
    width: 300px;
    height: 2.5em;
}

#get-api {
    margin-bottom: 5px;
}

.success {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blurry {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    -webkit-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

#settingsLink {
    height: 15px;
    width: 15px;
    position: absolute;
    right: 15px;
    cursor: pointer;
}

#mainLink {
    height: 15px;
    width: 15px;
    position: absolute;
    left: 10px;
    cursor: pointer;
}

.serviceIcon {
    display:block;
    margin:auto;
    height: 40px;
    width: 40px;
}



#websites {
    display: flex;
    width: 300px;
}

.websiteIcon {
    margin: 5px;
    cursor: pointer;
}

.websiteIcon p {
    text-align: center;
}

#savesettings {
    margin-top: -20px;
    align-self: center;
    justify-content: center;
    width: 300px;
    height: 2em;
}